/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
span,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.underline-link {
  display: inline-block;
  position: relative;
  color: #558564;
  text-decoration: none;
}

.underline-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #558564;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #e5e3dc;
  z-index: 99;
  box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 0.52);
}
header nav {
  width: auto;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-right: 2rem;
}
.navbar__item {
  width: auto;
  margin: 12.5px 20px;
  transition: color 0.3s ease-out;
}
.navbar__item :hover {
  color: #558564;
}
.navbar__link {
  cursor: pointer;
  color: #252b2d;
  font-weight: 600;
}
.navbar__link :hover {
  color: #558564;
}
.navbar--underline {
  position: relative;
  color: #252b2d;
  text-decoration: none;
}
.navbar--underline ::after {
  content: "click";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #558564;
  background-color: #558564;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.navbar--underline :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*--mobile--*/
@media screen and (max-width: 767px) {
  header {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
  }
  header nav {
    width: 95%;
  }
  .navbar {
    justify-content: space-evenly;
    text-align: start;
    margin-right: 0;
  }
  .navbar__item {
    margin: 0;
    padding: 0;
  }
  .navbar__link {
    font-weight: 600;
    font-size: 2.5vw;
  }
}
.footer {
  width: 100%;
  margin: 0;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  position: relative;
}
.footer__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  margin-bottom: 0.7rem;
}
.footer__links {
  color: black;
  margin: 2rem;
}
.footer__links-img {
  width: 23px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    position: relative;
  }
  .footer__links {
    margin: 1rem auto;
  }
  .footer__links-img {
    width: 23px;
  }
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 90vh;
  width: 100%;
  position: relative;
}
.main__title {
  width: auto;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-break: 0;
  line-height: 3rem;
}
.main--hello {
  color: #558564;
  font-size: 1.5rem;
}
.main--iam {
  font-size: 2rem;
}
.main__img {
  position: relative;
  bottom: 35px;
  height: 270px;
}

/*--tablet--*/
@media screen and (max-width: 1023px) {
  .main {
    height: 40vh;
  }
  .main__title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .main--hello {
    font-size: 1rem;
  }
  .main--iam {
    font-size: 1.5rem;
  }
  .main__img {
    bottom: 30px;
    height: 200px;
  }
}
/*--mobile--*/
@media screen and (max-width: 767px) {
  .main {
    height: 30vh;
    gap: 0;
  }
  .main__title {
    font-size: 6vw;
    line-height: 5vw;
    width: 50%;
  }
  .main--hello {
    font-size: 3vw;
  }
  .main--iam {
    font-size: 3vw;
  }
  .main__img {
    bottom: 12px;
    height: auto;
    width: 25%;
  }
}
.about {
  width: auto;
  margin: 0px 20%;
}
.about__title {
  padding-top: 80px;
  font-size: 2rem;
  width: auto;
}
.about__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.about__desc {
  width: 60%;
  font-size: 1.25rem;
}
.about__img {
  height: 500px;
  width: 35%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(49, 49, 49, 0.5);
}
.about__skills-title {
  margin-top: 30px;
  font-size: 1.5rem;
  width: 100%;
}
.about__skills-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}
.about__skills-img {
  height: 100px;
  width: auto;
  margin: 10px 10px;
}

@media screen and (min-width: 1024px) {
  .about {
    width: auto;
    margin: 0px 20%;
  }
  .about__title {
    padding-top: 80px;
    font-size: 2rem;
    width: auto;
  }
  .about__main {
    flex-wrap: nowrap;
  }
  .about__desc {
    min-width: 500px;
  }
  .about__img {
    min-width: 330px;
  }
}
@media screen and (max-width: 1023px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0px 10%;
  }
  .about__title {
    font-size: 1.5rem;
  }
  .about__main {
    width: 100%;
    margin-top: 20px;
  }
  .about__desc {
    width: 100%;
    font-size: 1rem;
  }
  .about__img {
    display: none;
  }
  .about__skills-title {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}
/*--mobile--*/
@media screen and (max-width: 767px) {
  .about {
    height: auto;
  }
  .about__title {
    padding-top: 50px;
    font-size: 4.5vw;
    line-height: 5vw;
  }
  .about__main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .about__desc {
    width: 100%;
    font-size: 3.5vw;
  }
  .about__img {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    height: 300px;
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__skills-title {
    font-size: 4vw;
    line-height: 5vw;
    margin-top: 20px;
  }
}
.projects {
  margin: 0 20%;
  height: auto;
  width: auto;
}
.projects__title {
  padding-top: 80px;
  font-size: 2rem;
  width: auto;
}
.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem 0;
}
.projects__card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 47%;
  align-items: center;
  border-bottom: 1px solid #252b2d;
}
.projects__img {
  width: 100%;
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(49, 49, 49, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__link {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: #558564;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.projects__desc {
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .projects__container {
    min-width: 770px;
  }
  .projects__card {
    height: 32vw;
    min-height: 440px;
    max-height: 550px;
    width: 47%;
    min-width: 370px;
  }
}
@media screen and (max-width: 1023px) {
  .projects {
    margin: 0 10%;
  }
  .projects__title {
    font-size: 1.5rem;
  }
  .projects__container {
    flex-direction: column;
    justify-content: center;
  }
  .projects__card {
    height: auto;
    width: 90%;
  }
  .projects__link {
    font-size: 1.2rem;
  }
  .projects__desc {
    font-size: 0.9rem;
  }
}
/*--mobile--*/
@media screen and (max-width: 767px) {
  .projects__title {
    font-size: 4.5vw;
  }
  .projects__container {
    justify-content: center;
  }
  .projects__card {
    height: auto;
    width: 100%;
    margin: 0.5rem 0;
  }
  .projects__img {
    margin: 1rem auto;
  }
  .projects__link {
    font-size: 4vw;
  }
  .projects__desc {
    margin: 0.3rem auto;
    font-size: 3.5vw;
    width: 100%;
  }
}
html {
  font-size: 16;
  width: 100%;
  height: auto;
}

body {
  background-color: #e5e3dc;
  width: 100%;
  display: grid;
  color: #252b2d;
}/*# sourceMappingURL=main.css.map */