.footer {
  width: 100%;
  margin: 0;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  position: relative;
  &__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    margin-bottom: 0.7rem;
  }
  &__links {
    color: black;
    margin: 2rem;
  }
  &__links-img {
    width: 23px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    position: relative;
    &__links {
      margin: 1rem auto;
    }
    &__links-img {
      width: 23px;
    }
  }
}
