header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 70px;
  & nav {
    width: auto;
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-right: 2rem;
  &__item {
    width: auto;
    margin: 0 20px;
    padding: 0;
    transition: color 0.3s ease-out;
    :hover {
      color: #558564;
    }
  }
  &__link {
    cursor: pointer;
    color: #252b2d;
    font-weight: 700;
    margin: 12.5px 0;
    :hover {
      color: #558564;
    }
  }
  &--underline {
    position: relative;
    color: #252b2d;
    text-decoration: none;
    ::after {
      content: "click";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      color: #558564;
      background-color: #558564;
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }
    :hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
